extends ../templates/base.pug

block main
	div.article
		h2: a(href="/2010/12/gray-codes/") Alternative Combinatorial Gray Codes
		div.description
			| An introduction to Gray codes and an overview of alternatives to the binary reflected Gray code, including monotonic and balanced codes.
