---
title: Cryptocurrencies and the Blockchain
---

section(data-background-color="#16373E", data-background-transition="none")
	h2(style="color: #FBF5F8; font-weight: 400;") #[strong Cryptocurrencies] <br/> &amp; The Blockchain

section
	h3 What is money anyway?

	ul
		li a #[strong medium of exchange]
		li a #[strong unit of accounting]
		li a #[strong store of value]

	aside.notes
		ul
			li Money's value stems from institutions, banks, governments
			li But also, its a story we tell ourselves

section(data-background-image="")
	h3 Digital Currencies

	div(style="position: relative; ")
		img(src="cryptocurrencies-and-the-blockchain/diablo.jpg", style="width: 90%")
		img(src="cryptocurrencies-and-the-blockchain/pokemon-go.jpg", style="position: absolute; top: 10%; left: 60%; width: 20%;")
		img(src="cryptocurrencies-and-the-blockchain/clash-of-clans-gems.jpg", style="position: absolute; left: 10%; top: 40%; width: 30%;")

	aside.notes
		ul
			li Many games have a virtual currency
			li Controlled by a private institution
			li Is it a reliable store of value?

section
	h3 Cryptocurrency:

	p a digital currency secured by cryptography

	aside.notes
		ul
			li Best known is Bitcoin
			li Built on previously existing ideas, Bitcoin first cryptocurrency with working software implementation
			li Many new cryptocurrencies created since, total market cap ~$100bil USD (Bitcoin is $40bil, Ethereum is $20bil)
			li Decentralized control and issuance
			li Uses financial incentives for participants to secure the network (cryptoeconomics)

section
	h3 The Rise of Bitcoin

	div(style="position: relative; max-width: 90%; margin: 0 auto;")
		img.plain(src="cryptocurrencies-and-the-blockchain/bitcoin-price.png", style="visibility: hidden;")
		img.plain(src="cryptocurrencies-and-the-blockchain/bitcoin-price.png", style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: none; max-width: 100%; max-height: 100%;")
		img.plain.fragment.current-visible(src="cryptocurrencies-and-the-blockchain/bitcoin-price-log.png", style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: none; max-width: 100%; max-height: 100%;")

	aside.notes
		ul
			li Don't want to focus on price, but useful for telling story
			li Created in 2009, programmer under pseudonym Satoshi Nakamoto
			li May 2010, programmer on BitcoinTalk forum paid 10,000BTC transaction for 2 pizzas ($25 at the time, now $25 million)
			li 2011 - parity with USD
			li Bitcoins are created by “mining”
			li Deflationary - 17 million today, 21 million total
			li Estimated 30% have been lost or detroyed

section
	h3 Distributed Consensus

	svg(xmlns='http://www.w3.org/2000/svg', xmlns:xl='http://www.w3.org/1999/xlink', version='1.1', viewbox='0 0 489.6 374', width='489.6pt', height='374pt', xmlns:dc='http://purl.org/dc/elements/1.1/')
		metadata
			| Produced by OmniGraffle 6.6.2
			dc:date 2017-08-24 16:09:17 +0000
		defs
			filter#Shadow(filterunits='userSpaceOnUse')
				fegaussianblur(in='SourceAlpha', result='blur', stddeviation='1.3030978')/
				feoffset(in='blur', result='offset', dx='0', dy='2')/
				feflood(flood-color='black', flood-opacity='.2', result='flood')/
				fecomposite(in='flood', in2='offset', operator='in', result='color')/
				femerge
					femergenode(in='color')/
					femergenode(in='SourceGraphic')/
		g(stroke='none', stroke-opacity='1', stroke-dasharray='none', fill='none', fill-opacity='1')
			title Canvas 1
			g
				title Layer 1
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="3", cx='45.918367', cy='122.69388', r='27.918412', fill='white')
					circle(cx='45.918367', cy='122.69388', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="1", cx='185.5102', cy='101.7551', r='27.918412', fill='white')
					circle(cx='185.5102', cy='101.7551', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="3", cx='304.16327', cy='157.59184', r='27.918412', fill='white')
					circle(cx='304.16327', cy='157.59184', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="5", cx='45.918367', cy='269.2653', r='27.918412', fill='white')
					circle(cx='45.918367', cy='269.2653', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="3", cx='171.55102', cy='234.36735', r='27.918412', fill='white')
					circle(cx='171.55102', cy='234.36735', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="5", cx='234.36735', cy='332.08163', r='27.918412', fill='white')
					circle(cx='234.36735', cy='332.08163', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="5", cx='360', cy='269.2653', r='27.918412', fill='white')
					circle(cx='360', cy='269.2653', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="5", cx='443.7551', cy='164.57143', r='27.918412', fill='white')
					circle(cx='443.7551', cy='164.57143', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				g(filter='url(#Shadow)')
					circle.fragment.highlight-yellow(data-fragment-index="3", cx='366.9796', cy='45.918367', r='27.918412', fill='white')
					circle(cx='366.9796', cy='45.918367', r='27.918412', stroke='#333e48', stroke-linecap='round', stroke-linejoin='round', stroke-width='4')
				line.fragment.highlight-current-yellow(data-fragment-index="2", x1='75.507634', y1='118.25549', x2='155.92094', y2='106.19349', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line.fragment.highlight-current-yellow(data-fragment-index="2", x1='214.11127', y1='92.954775', x2='338.37853', y2='54.718694', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line.fragment.highlight-current-yellow(data-fragment-index="2", x1='212.58827', y1='114.49772', x2='277.0852', y2='144.84922', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line.fragment.highlight-current-yellow(data-fragment-index="4", x1='334.04455', y1='159.0859', x2='413.87382', y2='163.07736', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line(x1='318.83481', y1='131.50909', x2='352.30805', y2='72.001116', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line.fragment.highlight-current-yellow(data-fragment-index="4", x1='317.5468', y1='184.35889', x2='346.61647', y2='242.49825', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line(x1='333.23294', y1='282.64883', x2='261.1344', y2='318.6981', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line(x1='197.44955', y1='219.37346', x2='278.26473', y2='172.58572', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line(x1='68.280287', y1='142.57114', x2='149.1891', y2='214.49009', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line.fragment.highlight-current-yellow(data-fragment-index="2", x1='182.3781', y1='131.51008', x2='174.68312', y2='204.61237', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line.fragment.highlight-current-yellow(data-fragment-index="4", x1='142.719085', y1='242.37622', x2='74.750303', y2='261.25644', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line.fragment.highlight-current-yellow(data-fragment-index="4", x1='187.73298', y1='259.53929', x2='218.18538', y2='306.90969', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')
				line(x1='378.69148', y1='245.90096', x2='425.06363', y2='187.93577', stroke='#17b65c', stroke-linecap='butt', stroke-linejoin='round', stroke-width='4')


	aside.notes
		ul
			li Bitcoin’s core innovation was the blockchain, a solution to distributed consensus in the presence of malicious nodes
			li Copy of ledger maintained by all nodes in a P2P network (decentralized ledger)
			li Transactions broadcast across network, unconfirmed until inclusion in block - indicates a “confirmation”
			li Mining involves finding the next block, which has a block reward and transaction fees, incentive
			li Average 10 minutes, Poisson process
			li Communication not instant, each can have a different view of blockchain. Rule is - longest chain wins
			li More confirmations means a transaction is harder to change

section
	h3 Forks

	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xl="http://www.w3.org/1999/xlink" version="1.1" viewBox="142 169 553 148" width="553pt" height="148pt" xmlns:dc="http://purl.org/dc/elements/1.1/"><metadata> Produced by OmniGraffle 6.6.2 <dc:date>2017-08-24 18:52:12 +0000</dc:date></metadata><defs><font-face font-family="Fira Code" font-size="22" panose-1="2 11 5 9 5 0 0 2 0 4" units-per-em="1000" underline-position="-75" underline-thickness="50" slope="0" x-height="539" cap-height="701" ascent="935.0019" descent="-265.00054" font-weight="500"><font-face-src><font-face-name name="FiraCode-Regular"/></font-face-src></font-face><marker orient="auto" overflow="visible" markerUnits="strokeWidth" id="FilledArrow_Marker" viewBox="-1 -3 7 6" markerWidth="7" markerHeight="6" color="black"><g><path d="M 4.8 0 L 0 -1.8 L 0 1.8 Z" fill="currentColor" stroke="currentColor" stroke-width="1"/></g></marker></defs><g stroke="none" stroke-opacity="1" stroke-dasharray="none" fill="none" fill-opacity="1"><title>Canvas 1</title><g><title>Layer 1</title><rect x="144" y="216" width="54" height="54" fill="white"/><rect x="144" y="216" width="54" height="54" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text transform="translate(149 229.5)" fill="black"><tspan font-family="Fira Code" font-size="22" font-weight="500" fill="black" x="15.4" y="21" textLength="13.2">1</tspan></text><rect x="243" y="216" width="54" height="54" fill="white"/><rect x="243" y="216" width="54" height="54" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text transform="translate(248 229.5)" fill="black"><tspan font-family="Fira Code" font-size="22" font-weight="500" x="15.4" y="21" textLength="13.2">2</tspan></text><rect x="342" y="216" width="54" height="54" fill="white"/><rect x="342" y="216" width="54" height="54" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text transform="translate(347 229.5)" fill="black"><tspan font-family="Fira Code" font-size="22" font-weight="500" x="15.4" y="21" textLength="13.2">3</tspan></text><rect x="441" y="171" width="54" height="54" fill="#dead26"/><rect x="441" y="171" width="54" height="54" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text transform="translate(446 184.5)" fill="black"><tspan font-family="Fira Code" font-size="22" font-weight="500" x="15.4" y="21" textLength="13.2">A</tspan></text><rect x="540" y="171" width="54" height="54" fill="#dead26"/><rect x="540" y="171" width="54" height="54" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text transform="translate(545 184.5)" fill="black"><tspan font-family="Fira Code" font-size="22" font-weight="500" x="15.4" y="21" textLength="13.2">A</tspan></text><rect x="441" y="261" width="54" height="54" fill="#f26077"/><rect x="441" y="261" width="54" height="54" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text transform="translate(446 274.5)" fill="black"><tspan font-family="Fira Code" font-size="22" font-weight="500" x="15.4" y="21" textLength="13.2">B</tspan></text><rect x="540" y="261" width="54" height="54" fill="#f26077"/><rect x="540" y="261" width="54" height="54" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text transform="translate(545 274.5)" fill="black"><tspan font-family="Fira Code" font-size="22" font-weight="500" x="15.4" y="21" textLength="13.2">C</tspan></text><rect x="639" y="261" width="54" height="54" fill="#f26077"/><rect x="639" y="261" width="54" height="54" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><text transform="translate(644 274.5)" fill="black"><tspan font-family="Fira Code" font-size="22" font-weight="500" x="15.4" y="21" textLength="13.2">B</tspan></text><line x1="199" y1="243" x2="229.1" y2="243" marker-end="url(#FilledArrow_Marker)" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><line x1="298" y1="243" x2="328.1" y2="243" marker-end="url(#FilledArrow_Marker)" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><line x1="397" y1="230.27273" x2="428.25627" y2="216.06533" marker-end="url(#FilledArrow_Marker)" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><line x1="397" y1="255.72727" x2="428.25627" y2="269.93467" marker-end="url(#FilledArrow_Marker)" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><line x1="496" y1="198" x2="526.1" y2="198" marker-end="url(#FilledArrow_Marker)" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><line x1="496" y1="288" x2="526.1" y2="288" marker-end="url(#FilledArrow_Marker)" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/><line x1="595" y1="288" x2="625.1" y2="288" marker-end="url(#FilledArrow_Marker)" stroke="black" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></g></g></svg>

	aside.notes
		ul
			li

section
	h3 Applications

	ul
		li.fragment Smart contracts
		li.fragment Decentralized storage
		li.fragment Finance
		li.fragment Energy markets

	aside.notes
		ul
			li

section
	h3 Challenges

	ul
		li.fragment Technical complexity
		li.fragment Security issues
		li.fragment Volatility
		li.fragment Confirmation times
		li.fragment Energy usage
		li.fragment Centralization

	aside.notes
		ul
			li Wild West
			li Technical complexity (wallet storage) - lost hard drive with BTC keys worth $10mil, went through landfill
			li Security issues, hacks (TheDAO). The cryptography is well understood but implementations can have bugs
			li Pump-and-dump schemes, scams, unscrupulous behavior
			li Volatility
			li Long confirmation times (Bitcoin)
			li Energy costs of securing blockchain (est. 20TWh/year for Bitcoin + Ethereum, more than Puerto Rico or Iceland)
				li Every second about 25,000,000,000,000,000 (quadrillion) hashes are computed
				li Can be mitigated by Proof of Stake
			li Irreversibility of transactions

section
	h3 Further Reading

	ul
		li #[strong Ethereum] (Smart Contracts)
		li #[strong Lightning/Raiden] (Performance)
		li #[strong ZCash] (Privacy)
		li #[strong Hyperledger, Interledger, Lisk] (Platform/Interop)
		li #[strong Tezos, Dfinity] (Governance)
		li #[strong Ripple, Stellar] (Trustful Quorum Consensus)
		li #[strong BigchainDB] (Immutable Distributed DB)

	aside.notes
		ul
			li Only scratching the surface
			li Smart contracts are a promising use case for blockchain (applications include escrow, hedging contracts, notarizing documents, land registries, trade clearing/settlement, equity and corporate governance)
			li Lightning and Raiden networks use fast off-chain payment channels backed by on-chain settlement
			li ZCash uses advanced cryptography (zk-SNARKs) to support private transactions
			li Initiatives around enterprise adoption (private blockchains)
			li Governance models encoded within blockchain consensus rules (self-modifying)
			li Stellar - not a blockchain, instead based on trust lines
			li BigchainDB - adding immutable properties on top of existing DBs, this case Rethink
			li Crypto-economics
