doctype html
html
	head
		meta(charset="UTF-8")
		title Introduction to Rust

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/monokai-sublime.min.css")
		link(rel="stylesheet", href="/static/styles/reveal.css")

	body
		.reveal
			.slides
				section
					h2 Introduction to Rust
				section.
					<strong>Rust</strong> is a systems programming language that runs blazingly fast, prevents nearly all segfaults, and guarantees thread safety.
				section
					h2 Rust is a <strong>systems language</strong>
					ul
						li Originally developed by Mozilla
						li Competes with C/C++
						li Low-level data layout control
				section
					h2 Rust runs <strong>blazingly fast</strong>
					ul
						li Compiled with LLVM
						li Zero-cost abstractions
						li No garbage collector
				section
					h2 Rust <strong>prevents segfaults</strong>
					ul
						li Sophisticated type system
						li Safe by default
						li No null pointers, dangling pointers, or use-after-free
				section
					h2 Rust guarantees <strong>thread safety</strong>
					ul
						li Ownership and borrowing
						li Strong aliasing and mutability guarantees
				section
					h2 The Basics
				section
					pre: code.rust.
						fn main() {
							let index = 2;
							let names = ["Alice", "Bob", "Carol", "Dave"];

							println!("Your name is {}", names[index]);
						}
				section
					h2 Features
					ul
						li Structs and enums
						li Pattern matching
						li Generics
						li Traits and dynamic dispatch
						li Closures
						li Operator overloading
						li Macros
				section
					h2 Stack vs Heap
				section
					pre: code.rust.
						fn main() {
							let mut items = vec![1, 2, 3];

							vec.push_back(4);

							println("{:?}", items);
						}
				section
					h2 Ownership and Borrowing

		script(src="/static/scripts/reveal.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js")
		//script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js")
		//script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/rust.min.js")
		script(type="text/javascript").
			Reveal.initialize({
				transition: 'none',
				dependencies: [{
					src: '/static/scripts/highlight.js',
					async: true,
					callback: function() {
						hljs.initHighlightingOnLoad();
					}
				}]
			});
