extends base.pug

block scripts
	if page.mathjax
		script(type="text/x-mathjax-config").
			MathJax.Hub.Config({
				extensions: ["tex2jax.js", "TeX/AMSmath.js", "MatchWebFonts.js"],
				jax: ["input/TeX", "output/HTML-CSS"],
				MatchWebFonts: {
					matchFor: {
						"HTML-CSS": true,
						NativeMML: false,
						SVG: false
					},
					fontCheckDelay: 2000,
					fontCheckTimeout: 30 * 1000
				},
				tex2jax: {inlineMath: [["$", "$"], ["\\(", "\\)"]]}
			});

		+cdnjs("mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML", "sha384-ekJxthwrl3ID8DzHP2myRUdIPhTdEgNJ1xKhDsMKDT3+kBlZ4Zwk5zH960SnLZR8")

block title
	title= page.title

block main
	h1 !{page.title}
	| !{contents}
