doctype html

mixin cdnjs(script, sri)
	script(src=`https://cdnjs.cloudflare.com/ajax/libs/${script}` integrity=sri crossorigin="anonymous")

html
	head
		meta(charset="UTF-8")/
		meta(name="google-site-verification", content="bGqtdT-Lnf7PpF9wD4TzrmRKHl-RMhSaJTn4xpQNG6M")/

		link(rel="stylesheet", type="text/css", href="/static/styles/main.css")/
		link(rel="stylesheet", type="text/css", href="/static/styles/github.css")/

		script(src="https://use.typekit.net/yvp8del.js")
		script(type="text/javascript") try{Typekit.load({ async: true });}catch(e){}

		+cdnjs("jquery/3.2.1/jquery.slim.min.js", "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN")
		+cdnjs("highlight.js/9.12.0/highlight.min.js", "sha384-ZeLYJ2PNSQjvogWP559CDAf02Qb8FE5OyQicqtz/+UhZutbrwyr87Be7NPH/RgyC")
		+cdnjs("highlight.js/9.12.0/languages/rust.min.js", "sha384-PbT2NUSkcu+Vhp0+7v/NMaiNWEoNMlU1sjWtN/NPeiO9KSZtBKkDLRUGuRowHbOr")
		script(type="text/javascript") hljs.initHighlightingOnLoad();

		block scripts
		block title

	body
		div#header
			a(href="/") Samuel Cormier-Iijima
			| &rsquo;s home on the web

		div#nav
			ul
				li: a(href="/") Home
				li: a(href="/about/") About

		div#main
			block main
