doctype html
html
	head
		meta(charset="UTF-8")/
		meta(name="google-site-verification", content="bGqtdT-Lnf7PpF9wD4TzrmRKHl-RMhSaJTn4xpQNG6M")/

		link(rel="stylesheet", type="text/css", href="/static/styles/main.css")/
		link(rel="stylesheet", type="text/css", href="/static/styles/github.css")/

		script(src="https://use.typekit.net/yvp8del.js")
		script(type="text/javascript") try{Typekit.load({ async: true });}catch(e){}

		script(src="/static/scripts/highlight.pack.js")
		script(type="text/javascript") hljs.initHighlightingOnLoad();

		block scripts
		block title

	body
		div#header
			a(href="/") Samuel Cormier-Iijima
			| &rsquo;s home on the web

		div#nav
			ul
				li: a(href="/") Home
				li: a(href="/about/") About

		div#main
			block main

		script(
			src="https://code.jquery.com/jquery-3.1.0.slim.min.js",
			integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=",
			crossorigin="anonymous",
			async=true)
