doctype html
html
	head
		meta(charset="UTF-8")
		title= page.title

		link(rel="stylesheet", href="/static/styles/reveal/olivegreen.css")/

	body
		.reveal
			.slides
				| !{contents}

		script(src="/static/scripts/reveal.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/rust.min.js")
		script(type="text/javascript").
			hljs.initHighlightingOnLoad();
			Reveal.initialize({
				transition: 'none',
				viewDistance: 3,
				dependencies: [{
					src: '/static/scripts/reveal/plugin/notes/notes.js',
					async: true
				}]
			});
