doctype html
html
	head
		meta(charset="UTF-8")
		title= page.title

		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/styles/monokai-sublime.min.css")
		link(rel="stylesheet", href="/static/styles/reveal.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Inconsolata:400,700")

	body
		.reveal
			.slides
				| !{contents}

		script(src="/static/scripts/reveal.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.load.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/languages/rust.min.js")
		script(type="text/javascript").
			Reveal.initialize({
				transition: 'none',
				dependencies: [{
					src: '/static/scripts/highlight.js',
					async: true,
					callback: function() {
						hljs.initHighlightingOnLoad();
					}
				}, {
					src: '/static/scripts/notes.js',
					async: true
				}]
			});
