@import "reveal.js/css/reveal.css";
@import "reveal.js/css/theme/night.css";

img.inline,
.reveal section img.inline {
	border: none;
	background: transparent;
	margin: 0;
	box-shadow: none;
	display: inline-block;
	vertical-align: middle;
}

.reveal code, .reveal pre {
	font-family: 'Inconsolata', 'Consolas', monospace;
	tab-size: 2;
	box-shadow: none;
}
