@import "reveal.js/css/reveal.css";
@import "reveal.js/css/theme/solarized.css";

body {
	background: #333438;
	background-color: #333438;
}

img.inline,
.reveal section img.inline {
	border: none;
	background: transparent;
	margin: 0;
	box-shadow: none;
	display: inline-block;
	vertical-align: middle;
}

.hljs {
	background: transparent;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
	color: #4DF69A;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
	color: #E591E4;
}

/*.hljs-symbol,
.hljs-attribute,
.hljs-params,
.hljs-class .hljs-title,
.hljs-code,*/
.hljs-title,
.hljs-section,
.hljs-selector-class {
	color: #2DCFF0;
}

.reveal {
	color: white;
}

.reveal strong {
	color: #4DF69A;
}

.reveal pre {
	font-size: 0.8em;
	line-height: 1.5;
	padding: 0.5em;
	/*background: #404144;*/
}

.reveal pre mark {
	padding: 5px 8px;
	margin: 0 -8px;
	border-radius: 5px;
	color: inherit;
	background: transparent;
}

.reveal pre code {
	max-height: 700px;
}

.reveal ul li {
	margin-top: 0.5em;
}

.reveal > .slides > section,
.reveal > .slides > section > section {
	transform-style: flat;
}

.reveal code, .reveal pre {
	font-family: 'Inconsolata', 'Consolas', monospace;
	tab-size: 2;
	box-shadow: none;
}

.reveal .slides section .fragment.highlight-current-background-gray {
	opacity: 1;
	visibility: visible;
}

.reveal .slides section .fragment.highlight-current-background-gray.current-fragment {
	background: rgba(255, 255, 255, 0.3);
	border: 1em solid white;
}